<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{title}}</title>
</head>
<body>
    
        <br class='new-line'>
    <br>

    <div class="title" style="text-align: center;">
        <h1 id="supbro"><strong>MY PROJECT</strong></h1><br><br>
        <div class="container">
              <!-- Blog list -->
            <div id="contents" class="project-list">
                
                <div class="my-project">
                    <div class="card shadow-lg mb-4" style="width: 26rem;">
                        <img class="card-img-top" src="https://media.istockphoto.com/photos/global-connection-picture-id1335295270?s=612x612" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" ; style=" margin-left: 10px; text-decoration: none;"><a href="detail-project1.html" onclick="projectDetail(event)" style="color:black">Dumbways Mobile App - 2021</a></h5>
                            <small style="color: rgb(134, 130, 130); margin-left: 10px; ">durasi : 3 bulan</small>
                            <br>
                            <p class="card-text ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum fuga accusamus iste nesciunt beatae molestias. Perspiciatis voluptate beatae obcaecati reprehenderit.
                            </p>
                            <div class="logo ">
                                <i class="fa-brands fa-node fa-2x "></i>
                                <i class="fa-brands fa-react fa-2x "></i>
                                <img src="img/nextjs.png" alt="nextJs">
                                <img src="img/typescript.png" alt="typescript">
                            </div>
                            <div class="btn ">
                                &nbsp;&nbsp;<button href="#edites " class="btn btn-dark " style="width: 170px;" id="edit">Edit</button>
                                <button href="#deletes " class="btn btn-dark " style="width: 170px;" id="delete">Delete</button>
                            </div>

                        </div>
                    </div>
                </div>
                {{!-- {{#each dataProject}} --}}
                <div class="my-project">
                    <div class="card shadow-lg mb-4" style="width: 26rem;">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" ; style=" margin-left: 10px;"><a href="detail-project2.html" style="color:black; text-decoration: none;">{{this.projectName}} - {{this.author}}</a></h5>
                            </h5>
                            <small style="color: rgb(134, 130, 130); margin-left: 10px; ">durasi : 3 bulan</small>
                            <br>
                            <p class="card-text ">{{this.description}}
                            </p>
                            <div class="logo ">
                                <i class="fa-brands fa-node fa-2x "></i>
                                <i class="fa-brands fa-react fa-2x "></i>
                                <img src="img/nextjs.png" alt="nextJs">
                                <img src="img/typescript.png" alt="typescript">
                            </div>
                            <div class="btn ">
                                &nbsp;&nbsp;<button href="#edites " class="btn btn-dark " style="width: 170px;" id="edit">Edit</button>
                                <button href="#deletes " class="btn btn-dark " style="width: 170px;" id="delete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- {{/each}}
            </div> --}}
        </div>
    </div>
        </div>
    </div>
    </div>
</body>
</html>